{% extends "layout.twig" %}

{% block content %}
    <h1>SD-Heros (beta)</h1>
    <h2>Description(...)</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae corporis dignissimos ea excepturi
        nostrum saepe soluta voluptatem. Architecto asperiores cumque dolor dolores fuga iusto natus nihil quidem
        reiciendis repellat!
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolore eaque fugit libero molestiae non quo.
        Aperiam aut commodi dolorem, error eum fugit in libero quia recusandae, soluta voluptatem, voluptates.
    </p>
{% endblock %}