<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>SD-Heros (beta)</title>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        SDH-beta
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link {% if tabActive == "home" %}active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tabActive == "repositories" %}active{% endif %}" href="/repositories">+
                Repositório</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Relatórios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Diagramas</a>
        </li>
    </ul>
</nav>

<div class="container">
    {% block content %}  {% endblock %}
</div>
<br />
<div class="footer">
    {% for i in viewContent %}
        <li>{{ i }}</li>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
</body>
</html>



