{% extends "layout.twig" %}
{% block content %}
    <h1>Repositories</h1>
    <h2>Gerenciamento e Processamento de Repositorios</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur, dolores enim et fugiat harum hic
        ipsa iste minima, mollitia nesciunt nihil non obcaecati provident quisquam soluta suscipit unde vitae.
    </p>

    <a href="/repositories/add" class="btn btn-info" role="button">Adicionar Repositório</a>

    <a href="/repositories/list" class="btn btn-info" role="button">Listar Repositórios</a>


{% endblock %}